extends layout.pug
block content
	h1 Select Dogs for Current Ride
	table(class="table")
		thead
			tr
				th Name
				th Breed
				th Sex
				th Age
				th Description
				th Source Shelter
				th Destination Shelter
		tbody
			each dog in selectedDogs
				tr
					td: a(href=`/dogs/${dog.id}`) #{dog.name}
					td #{dog.breed}
					td #{dog.sex}
					td #{dog.age}
					td #{dog.description}
					td #{dog.sourceShelterName}
					td #{dog.destinationShelterName}
					td
						.form-check
							label(class="form=check-label")
								input(type="checkbox" class="form-check-input")
								p Select
	button(type="button" class="btn btn-primary pull-right") Submit



